.sneaker-main {
  width: 62%;
  position: relative;
}
@media (max-width: 991.5px) {
  .sneaker-main {
    width: 100%;
  }
}

.main-img {
  border-radius: 1.6rem;
  cursor: pointer;
}
.btns {
  position: absolute;
  height: 100%;
  width: 100%;
}
.carousel-btn {
  border-radius: 50%;
  height: 2.2rem;
  width: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.carousel-btn img {
  max-height: 0.7rem;
}

.active-img {
  border: solid 2px #fe7d1d;
}

@media (min-width: 528px) and (max-width: 768px) {
  .main-img {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 766px) {
  .main-img {
    border-radius: 0;
  }
}
