<div class="sneaker-main">
  <div
    class="btns d-md-none d-flex justify-content-between align-items-center px-3"
  >
    <button class="carousel-btn previous" (click)="switchImg(img, $event)">
      <img src="../../../assets/images/icon-previous.svg" class="img-fluid" />
    </button>
    <button class="carousel-btn next" (click)="switchImg(img, $event)">
      <img src="../../../assets/images/icon-next.svg" class="img-fluid" />
    </button>
  </div>
  <img
    #img
    [src]="mainSneakerImg"
    (click)="setMainModalImage(img)"
    class="img-fluid main-img mb-md-4"
    data-bs-toggle="modal"
    data-bs-target="#image-modal"
  />

  <app-image-thumb class="d-none d-md-block" #imgs></app-image-thumb>
</div>

<app-image-modal
  id="image-modal"
  class="modal fade"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
></app-image-modal>
