<nav class="navbar navbar-expand-lg navbar-light p-0">
  <img
    src="../../assets/images/icon-menu.svg"
    class="navbar-toggler mt-2"
    (click)="showMenu()"
  />

  <a class="navbar-brand" href="#"
    ><img src="../../assets/images/logo.svg" alt="logo" class="img-fluid"
  /></a>

  <div class="collapse navbar-collapse h-100" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ml-4 h-100" appShowNav>
      <li class="nav-item mt-2" *ngFor="let nav of navigation">
        <a class="nav-link" routerLink="/">
          {{ nav }}
        </a>
      </li>
    </ul>
  </div>
  <div class="my-2 my-lg-0 d-flex justify-content-between align-items-center">
    <a
      class="modal-toogler position-relative"
      data-bs-toggle="modal"
      data-bs-target="#cartModal"
      ><img src="../../assets/images/icon-cart.svg" class="img-fluid" />
      <span
        class="position-absolute top-0 start-100 translate-middle badge rounded-pill"
        [ngClass]="{ 'visually-hidden': itemsInCart === 0 }"
      >
        {{ itemsInCart > 9 ? "9+" : itemsInCart }}
        <span class="visually-hidden">unread messages</span>
      </span>
    </a>
    <a class="modal-toogler" data-bs-toggle="modal" data-bs-target="#cartModal"
      ><img
        src="../../assets/images/image-avatar.png"
        class="img-fluid image-avatar"
    /></a>
  </div>
</nav>

<app-slide-menu class="slide-menu" [nav]="navigation"></app-slide-menu>
<app-cart-modal
  class="modal fade"
  id="cartModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
></app-cart-modal>
